<p id="notice"><%= notice %></p>

<p>
  <strong>Question:</strong>
  <%= @question_paper.question_id %>
</p>

<%= link_to 'Edit', edit_question_paper_path(@question_paper) %> |
<%= link_to 'Back', question_papers_path %>
